body {
  font-size: 2rem;
}
.dateFontSize {
  font-size: 1.5rem;
}

ul {
  list-style: none;
}
.img1000 {
  width: 70%;
}
.imgActive {
  margin: 15px;
  width: 40px;
  height: 40px;
}
.img900 {
  width: 900px;
}
.img100 {
  width: 100px;
}
.borderclass {
  border: 2px solid black;
}
.borderclass_1 {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.check {
  border: 1px solid red;
}
.grid6 {
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}
.gridActive {
  display: grid;
  grid-template-columns: 6% 10% 12% 15% 15% 6% 10% 10% 10% 6%;
}
.gridActive2 {
  display: grid;
  grid-template-columns: 6% 64% 30%;
}
.grid4 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
a {
  color: black;
  text-decoration: none;
}
.title {
  font-size: 3rem !important;
}
.subTitle {
  font-size: 2.5rem !important;
}
.cartFontSize {
  font-size: 1.75rem;
}
.changeActive {
  background-color: rgba(255, 255, 255, 0) !important;
  transition: 1s;
}
.no-close .ui-dialog-titlebar {
  display: none;
}
.ui-dialog-buttopane {
  height: 50px;
  display: flex;
  padding: auto;
}
.ui-button {
  font-size: 1.5rem !important;
}
.cursorPointer {
  cursor: pointer;
}
@keyframes change1 {
  0% {
    rotate: 0;
  }

  100% {
    rotate: -90deg;
  }
}

@keyframes change0 {
  0% {
    rotate: -90deg;
  }

  100% {
    rotate: 0deg;
  }
}

.test {
  border: 3px solid red;
}

.steps .ant-steps-item-title {
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  /* background-color: black; */
}

.likeHr::before {
  content: "";
  border: 1px solid black;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 1.5rem;
  }
  .cartFontSize {
    font-size: 1rem;
  }
  .dateFontSize {
    font-size: 1rem;
  }
  .imgActive {
    width: 20px;
    height: 20px;
  }
}
