@charset "UTF-8";
body,
li,
a {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.navbar {
  height: 80px;
  background-color: rgba(189, 255, 233, 0.05);
}

main.container {
  padding: 10px;
  width: 1200px;
}

/* 出租類別 */
.category-section {
  margin-bottom: 30px;
}
.category-section #search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #0B7597;
}
.category-section .form-group {
  padding: 0px 10px;
}
.category-section .form-group > select {
  height: 50px;
  font-size: 2rem;
  border: 1px solid rgb(51, 143, 185);
  border-radius: 10px;
}
.category-section .form-group > select:nth-child(1) {
  width: 200px;
}
.category-section .form-group > input {
  height: 47px;
  font-size: 2rem;
  border: 1px solid rgb(51, 143, 185);
  border-radius: 10px;
  width: 250px;
}
.category-section button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 50px;
  width: 80px;
  border-radius: 10px;
  background-color: rgb(51, 143, 185);
  border: 1px solid rgba(51, 143, 185, 0.651);
  color: #fff;
}
.category-section button:active {
  background-color: rgb(26, 110, 150);
}
.category-section #category-menu {
  margin-top: 50px;
  margin-left: 2px;
}
.category-section .menu-item {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.category-section .menu-item a {
  width: 100%;
  color: black;
  text-decoration: none;
}

/* 產品區 */
.product {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .product {
    flex-wrap: wrap;
    justify-content: center;
  }
}

aside .filterMenu {
  width: 270px;
  border: 3px solid #0B7597;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}
@media screen and (max-width: 991px) {
  aside .filterMenu {
    width: 100%;
    margin-right: 0px;
  }
}
aside .filter-title {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 7px;
  height: 40px;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.747);
}
aside .filter-body {
  width: 60%;
}
aside .filter-body input.money {
  height: 30px;
  margin: 2px;
  font-size: 1.25rem;
  width: 90%;
  border: 0.5px solid rgba(153, 153, 153, 0.704);
}
aside .filter-group {
  width: 100%;
  margin-left: 5px;
  margin-top: 20px;
}
aside .filter-group p {
  margin: 0;
  margin-top: 8px;
  margin-left: 3px;
  font-size: 1.5rem;
  color: rgb(165, 110, 26);
}
aside .filter-group label {
  font-size: 1.25rem;
}
aside .filter-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
aside .filter-footer button {
  display: flex;
  align-items: center;
  margin: 5px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.342);
  cursor: pointer;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.486);
}
aside .filter-footer button:nth-child(2) {
  background-color: rgb(51, 143, 185);
  border: 1px solid rgba(51, 143, 185, 0.651);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: none;
  color: rgb(255, 255, 255);
}

/* 商品 */
.rental {
  width: 100%;
}
.rental > .rental-title {
  height: 50px;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .rental > .rental-title {
    font-size: 2vw;
  }
}
.rental > .rental-title span {
  margin-left: 10px;
}
.rental > .rental-title .sort-group {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  display: flex;
}
.rental > .rental-title .sort-group .sort-item {
  margin-left: 10px;
}
.rental > .rental-title .sort-group .sort-item a {
  color: #4486ff;
}
.rental > .rental-title .sort-group .sort-item a:hover {
  text-decoration: underline;
}
.rental .rental-body {
  margin-top: 20px;
}
.rental .rental-body .rental-goods {
  display: flex;
  justify-content: space-around;
}
.rental .rental-body .rental-goods .rental-goods-group {
  transition: transform 0.2s;
  padding: 0;
  width: 330px;
  border: 0.01px solid rgba(126, 126, 126, 0.05);
  margin-bottom: 20px;
  border-radius: 5px;
}
.rental .rental-body .rental-goods .rental-goods-group:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.rental .rental-body .rental-goods .rental-goods-group .card .card-body {
  margin-left: 10px;
  border-radius: 20px;
}
.rental .rental-body .rental-goods .rental-goods-group .card .card-img {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rental .rental-body .rental-goods .rental-goods-group .card img {
  width: 90%;
}
.rental .rental-body .rental-goods .rental-goods-group .card h4 {
  margin: 0;
  margin-top: 10px;
  line-height: 2rem;
  font-size: 1.75rem;
  height: 70px;
}
.rental .rental-body .rental-goods .rental-goods-group .card p {
  text-align: center;
  margin: 5px;
  font-size: 1.75rem;
  font-weight: bold;
}
.rental .rental-body .rental-goods .rental-goods-group .card .card-text2 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.rental .rental-body .rental-goods .rental-goods-group .card span {
  width: 60px;
  background-color: rgba(255, 228, 196, 0.438);
  border-radius: 3dvb;
  text-align: center;
}
.rental .rental-body .rental-goods .rental-goods-group .card span:nth-child(3) {
  margin-left: 20px;
  background-color: #82d1ff;
  color: #fff;
  width: 20px;
  height: 20px;
}
.rental .rental-body .rental-goods .rental-goods-group .card span:nth-child(4) {
  background-color: #fff;
}
.rental .rental-body .rental-goods .rental-goods-group .card .card-text3 {
  margin: 5px 0px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.rental .rental-body .rental-goods .rental-goods-group .card .card-text3 .card-btn {
  width: 200px;
  display: flex;
}
.rental .rental-body .rental-goods .rental-goods-group .card .card-text3 a {
  display: block;
  background-color: rgb(51, 143, 185);
  color: white;
  margin: 5px;
  width: 60px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5rem;
}
.rental .rental-body .rental-goods .rental-goods-group .card .card-text3 div + a {
  background-color: #b3b3b3;
  width: 50px;
}

#pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#pagination-container a {
  margin: 0px 10px;
}
#pagination-container span {
  margin: 0px 10px;
}

.breadcrumb {
  height: 40px;
  display: flex;
  align-items: center;
}
.breadcrumb a {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.608);
  margin: 10px;
}
.breadcrumb a:hover {
  text-decoration: underline;
}

.product-item {
  height: 2000px;
}
.product-item .product-item-main {
  display: flex;
  justify-content: space-between;
}
.product-item .product-item-left {
  width: 40%;
  margin-right: 0px;
}
.product-item .product-item-left .slider-for {
  height: 450px;
  border: 1px solid rgba(132, 132, 132, 0.459);
}
.product-item .product-item-left .slider-for img {
  width: 100%;
}
.product-item .product-item-left .slider-nav {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.product-item .product-item-left .slider-nav button {
  background-color: white;
  height: 20px;
  border: 0.5px solid rgba(148, 148, 148, 0.373);
}
.product-item .product-item-left .slider-nav img {
  width: 95%;
}
.product-item .product-item-left .slider-nav img:hover {
  border: 2px solid rgba(255, 172, 55, 0.9137254902);
}
.product-item .product-item-right {
  width: 55%;
}
.product-item .product-item-right .item-text {
  height: 50px;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.product-item .product-item-right .item-text p {
  font-size: 2rem;
  margin: 0;
  line-height: 30px;
}
.product-item .product-item-right .item-text:nth-child(1) {
  height: 80px;
}
.product-item .product-item-right .item-text:nth-child(2) {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.product-item .product-item-right .item-text:nth-child(2) div:nth-of-type(1) {
  background-color: antiquewhite;
  border-radius: 10px;
  width: 120px;
  text-align: center;
}
.product-item .product-item-right .item-text:nth-child(2) div:nth-of-type(2) {
  margin: 0px 20px;
  display: flex;
  align-items: center;
}
.product-item .product-item-right .item-text:nth-child(2) div:nth-of-type(2)::before {
  content: "  ";
  display: block;
  height: 20px;
  width: 20px;
  background-color: #375cff;
  border-radius: 30px;
}
.product-item .product-item-right .item-text:nth-child(5) {
  display: flex;
  align-items: center;
}
.product-item .product-item-right .item-text:nth-child(5) input {
  margin-right: 20px;
  margin-left: 10px;
  border-radius: 5px;
}
.product-item .product-item-right .item-text:nth-child(6) {
  text-align: end;
  color: red;
  margin-right: 40px;
  margin-bottom: 20px;
  height: 20px;
  font-size: 2rem;
}
.product-item .product-item-right .item-text:nth-child(7) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px 20px;
}
.product-item .product-item-right .item-text:nth-child(7) div {
  display: flex;
}
.product-item .product-item-right .item-text:nth-child(7) a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 143, 185);
  color: white;
  margin: 5px;
  border-radius: 5px;
  height: 50px;
  width: 200px;
}

.product-body {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-body .pd-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  width: 70%;
  border: 1px solid black;
  padding: 0px 10px;
}
.product-body .pd-body-l {
  height: 80%;
  width: 160px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin: 0px;
}
.product-body .pd-body-l img {
  height: 100%;
}
.product-body .pd-body-m {
  width: 40%;
  height: 80%;
}
.product-body .pd-body-m p {
  font-size: 2rem;
}
.product-body .pd-body-m button {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgba(126, 126, 126, 0.866);
  font-size: 1.5rem;
}
.product-body .pd-body-m button i {
  margin: 0px 5px;
}
.product-body .pd-body-r {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100px;
  border: 1px solid black;
}
.product-body .pd-body-r p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
.product-body .pd-body-r p:nth-child(2) {
  text-align: end;
  font-size: 2.25rem;
}

.product-text {
  margin-top: 100px;
}
.product-text p {
  font-size: 2.925rem;
  margin: 10px;
}
.product-text .text-group {
  display: flex;
  margin-bottom: 20px;
}
.product-text .text-group:nth-child(5) p:nth-child(1) {
  width: 180px;
}
.product-text .text-group:nth-child(5) p:nth-child(2) {
  width: 80%;
}
.product-text .text-group p {
  font-size: 2.25rem;
}

.member-pd .product-body {
  margin-top: 0px;
}
.member-pd .rental-goods-group {
  margin: 50px;
}/*# sourceMappingURL=product.css.map */