//字體大小
$font-big: 2.25rem;
$font-normal: 2rem;
$font-small: 1.75rem;
$font-xs: 1.5rem;

$rwd-max:991px;
$rwd-phone:768px;

body,
li,
a {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}
.navbar {
  height: 80px;
  background-color: rgba(189, 255, 233, 0.05);
}

main.container {
  padding: 10px;
  width: 1200px;
}

/* 出租類別 */

.category-section {
  margin-bottom: 30px;

  #search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color:#0B7597;
  }

  .form-group {
    padding: 0px 10px;

    > {
      select {
        height: 50px;
        font-size: $font-normal;
        border: 1px solid rgb(51, 143, 185);
        border-radius: 10px;
        &:nth-child(1) {
          width: 200px;
        }
      }
      input {
        height: 47px;
        font-size: $font-normal;
        border: 1px solid rgb(51, 143, 185);
        border-radius: 10px;
        width: 250px;
      }
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-normal;
    height: 50px;
    width: 80px;
    border-radius: 10px;
    background-color: rgb(51, 143, 185);
    border: 1px solid rgba(51, 143, 185, 0.651);
    color: #fff;
    &:active {
      background-color: rgb(26, 110, 150);
    }
  }

  #category-menu {
    margin-top: 50px;
    margin-left: 2px;
  }

  .menu-item {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    a {
      width: 100%;
      color: black;
      text-decoration: none;
    }
  }
}

/* 產品區 */

.product {
  display: flex;
  justify-content: space-between;

    @media screen and (max-width:991px ) {
      flex-wrap: wrap;
     justify-content: center;
    }
}

aside {
  .filterMenu {
    width: 270px;
    border: 3px solid #0B7597;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    @media screen and (max-width:991px ) {
      width: 100%;
      margin-right: 0px;
    }
  }

  .filter-title {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 7px;
    height: 40px;
    font-size: $font-normal;
    color: rgba(0, 0, 0, 0.747);
  }

  .filter-body {
    width: 60%;
    input.money {
      height: 30px;
      margin: 2px;
      font-size: 1.25rem;
      width: 90%;
      // border-radius: 30px;
      border: 0.5px solid rgba(153, 153, 153, 0.704);
    }
  }

  .filter-group {
    width: 100%;
    margin-left: 5px;
    margin-top: 20px;
    p {
      margin: 0;
      margin-top: 8px;
      margin-left: 3px;
      font-size: $font-xs;
      color: rgb(165, 110, 26);
    }

    label {
      font-size: 1.25rem;
    }
  }

  .filter-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
      display: flex;
      align-items: center;
      margin: 5px;
      height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.342);
      cursor: pointer;
      border-radius: 5px;
      color: rgba(0, 0, 0, 0.486);

      &:nth-child(2) {
        background-color: rgb(51, 143, 185);
        border: 1px solid rgba(51, 143, 185, 0.651);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        box-shadow: none;
        color: rgb(255, 255, 255);
      }
    }
  }
}

/* 商品 */

.rental {
  width: 100%;

  > .rental-title {
    height: 50px;
    font-size: $font-small;
    display: flex;
    align-items: center;
    // background-color: antiquewhite;
    @media screen and (max-width: 1000px) {
      font-size: 2vw;
    }
    span {
      margin-left: 10px;
    }

    .sort-group {
      padding: 0;
      margin: 0;
      margin-left: 10px;
      display: flex;

      .sort-item {
        margin-left: 10px;

        a {
          color: #4486ff;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .rental-body {
    margin-top: 20px;

    .rental-goods {
      display: flex;
      justify-content: space-around;

      .rental-goods-group {
        transition: transform 0.2s;
        padding: 0;
        width: 330px;
        border: 0.01px solid rgba(126, 126, 126, 0.05);
        margin-bottom: 20px;
        border-radius: 5px;
        // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

        &:hover {
          transform: scale(1.03);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .card {
          .card-body {
            margin-left: 10px;
            border-radius: 20px;
          }
          .card-img {
            height: 350px;
            display: flex;
            align-items: center;
            justify-content: center;
            
          }
          img {
            width: 90%;
          }

          h4 {
            margin: 0;
            margin-top: 10px;
            line-height: $font-normal;
            font-size: $font-small;
            height: 70px;
          }

          p {
            text-align: center;
            margin: 5px;
            font-size: $font-small;
            font-weight: bold;
          }

          .card-text2 {
            margin-top: 10px;
            display: flex;
            justify-content: center;
      
          
          }

          span {
            width: 60px;
            // font-size: 0.7rem;
            background-color: rgba(255, 228, 196, 0.438);
            border-radius: 3dvb;
            text-align: center;

            &:nth-child(3) {
              margin-left: 20px;
              background-color: #82d1ff;
              color: #fff;
              width: 20px;
              height: 20px;
            }

            &:nth-child(4) {
              background-color: #fff;
            }
          }

          .card-text3 {
            margin: 5px 0px;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            .card-btn {
              width: 200px;
              display: flex;
            }

            a {
              display: block;
              background-color: rgb(51, 143, 185);
              color: white;
              margin: 5px;
              width: 60px;
              text-align: center;
              border-radius: 5px;
              font-size: $font-xs;
            }

            div + a {
              background-color: #b3b3b3;
              width: 50px;
            }
          }
        }
      }
    }
  }
}

#pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  a {
    margin: 0px 10px;
  }

  span {
    margin: 0px 10px;
  }
}




// 商品頁面 pd-item.html
.breadcrumb {
  height: 40px;
  display: flex;
  align-items: center;

  a {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.608);
    margin: 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.product-item {
  height: 2000px;

  .product-item-main {
    display: flex;
    justify-content: space-between;
  }

  .product-item-left {
    width: 40%;
    margin-right: 0px;

    .slider-for {
      height: 450px;
      border: 1px solid rgba(132, 132, 132, 0.459);
    }

    .slider-for img {
      width: 100%;
    }

    .slider-nav {
      display: flex;
      align-items: center;
      margin-top: 20px;

      button {
        background-color: white;
        height: 20px;
        border: 0.5px solid rgba(148, 148, 148, 0.373);
      }
    }

    .slider-nav img {
      width: 95%;

      &:hover {
        border: 2px solid #ffac37e9;
      }
    }
  }

  .product-item-right {
    width: 55%;

    .item-text {
      height: 50px;
      font-size: 1.5rem;
      margin-bottom: 15px;

      p {
        font-size: 2rem;
        margin: 0;
        line-height: 30px;
      }

      &:nth-child(1) {
        height: 80px;
      }

      &:nth-child(2) {
        margin-top: 10px;
        display: flex;
        align-items: center;
        font-size: 1.5rem;

        div:nth-of-type(1) {
          background-color: antiquewhite;
          border-radius: 10px;
          width: 120px;
          text-align: center;
        }

        div:nth-of-type(2) {
          margin: 0px 20px;
          display: flex;
          align-items: center;
        }

        div:nth-of-type(2)::before {
          content: '  ';
          display: block;
          height: 20px;
          width: 20px;
          background-color: #375cff;
          border-radius: 30px;
        }
      }

      &:nth-child(5) {
        display: flex;
        align-items: center;

        input {
          margin-right: 20px;
          margin-left: 10px;
          border-radius: 5px;
        }
      }

      &:nth-child(6) {
        text-align: end;
        color: red;
        margin-right: 40px;
        margin-bottom: 20px;
        height: 20px;
        font-size: $font-normal;
      }

      &:nth-child(7) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0px 20px;

        div {
          display: flex;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgb(51, 143, 185);
          color: white;
          margin: 5px;
          border-radius: 5px;
          height: 50px;
          width: 200px;
        }

        
      }
    }
  }
}

.product-body {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  .pd-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 70%;
    border: 1px solid black;
    padding: 0px 10px;
  }

  .pd-body-l {
    height: 80%;
    width: 160px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 0px;

    img {
      height: 100%;
    }
  }
  .pd-body-m{
    width: 40%;
    height: 80%;
    p{
      font-size: $font-normal;
    }
    button{
      border-radius: 10px;
      background-color: #fff;
      border: 1px solid rgba(126, 126, 126, 0.866);
      font-size: $font-xs;
      i{
        margin: 0px 5px;
      }
    }
  }
  .pd-body-r{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100px;
    border: 1px solid black;
    p{
      font-size: $font-xs;
      font-weight: bold;
      margin: 0;
      &:nth-child(2){
        text-align: end;
        font-size: $font-big;
      }
    }
  }
}

.product-text{
  margin-top: 100px;
  p{
    font-size: $font-big*1.3;
    margin: 10px;
  }
  .text-group{
    display: flex;
    margin-bottom: 20px;
    &:nth-child(5){
      p{
        &:nth-child(1){
          width: 180px;
        }
        &:nth-child(2){
          width: 80%;
        }
      }
    }
    p{
      font-size: $font-big;
    }
  }
}


//member-pd.html 會員商品頁面
.member-pd{
  .product-body{
    margin-top: 0px;
  }
  .rental-goods-group{
    margin: 50px;
  }
}
