$primaryColor: #0B7597;
$secondaryColor: #021434;
$largeFontSize: 2.5rem;
$mediumFontSize: 2rem;
$medtwoFontSize: 1.75rem;
$littleFontSize: 1.5rem;
$margin: 20px;
$paddingTop: 5vh;

:where(.css-dev-only-do-not-override-14wwjjs).ant-form-item .ant-form-item-label >label{
    font-size: $medtwoFontSize;
  }