$primaryColor: #0B7597;
$secondaryColor: #021434;
$largeFontSize: 2.5rem;
$mediumFontSize: 2rem;
$medtwoFontSize: 1.75rem;
$littleFontSize: 1.5rem;
$margin: 20px;
$paddingTop: 5vh;

.bgset {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../../../server/public/img/wave.jpg');
  background-size: 100% auto; /* 调整此处 */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: $paddingTop;

  .text {
    text-align: center;
    color: $secondaryColor;
    font-size: $mediumFontSize;
    margin: $margin;
  }

  .title {
    color: $primaryColor;
    font-size: $largeFontSize;
    font-weight: bold;
    margin: $margin;
  }

  .btnset {
    display: flex;
    // justify-content: flex-start;
    // justify-content: space-around;
    align-items: center;
  }

  button {
    // margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: $littleFontSize;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;

    &.active {
      /* 被点击按钮的样式 */
      background-color: #0B7597;
      color: white;
    }
  }

  .order-table {
    // 離按鈕的距離
    margin-top: 50px;
    border-collapse: collapse;

    position: relative;

    th,
    td {
      padding: 20px;
    }

    th {
      font-weight: bold;
      text-align: center;
      font-size: $mediumFontSize;
    }

    td {
      font-size: $medtwoFontSize;
    }

    #trtd:hover {
      background-color: #02143464;
    }

  }

  // 偽元素
  .order-table::before {
    content: "";
    // background-color: rgba(183, 188, 197, 0.76);
    background-color: #dacfcfd4;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: -25px;
    bottom: -25px;
    left: -50px;
    right: -50px;
    z-index: -1;
  }

}