.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.form-container h2 {
    margin-bottom: 20px;
}

.form-container input {
    width: 90%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #553fd1;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.toggle-form-btn {
    width: 100%;
    margin-top: 20px;
    background-color: #ccc;
    color: white;
    border: none;
    cursor: pointer;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
}

body {
    background-image: url(https://img.freepik.com/free-photo/landscape-contry-road-travel-destination-rural-concept_53876-14122.jpg?size=626&ext=jpg&uid=R106489339&ga=GA1.2.591468234.1679553214&semt=sph);
    background-repeat: no-repeat;
    background-size: 100%;
}