/* ALL */
.active,
h1:hover {
    font-weight: bold;
    background-color: white;
    color: #1082B2;
    border: 0;
    border-radius: 25px;
}

p .upnew {
    margin-left: auto;
}

h1 {
    transition: background-color 0.5s, color 0.5s;
  }

  


.mifd {
    /* border: 2px black solid; */
    display: flex;
    border-radius: 50px;
    width: 95vw;
    height: 90vh;
    background-color: #1082B2;
    margin: 0 auto;

}

.image {
    margin-top: 50px;
    margin-left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 200px;
}

.sidebar {
    /* border: 2px black solid; */
    /* 有的話文字會變直的 */
    /* width: 10vw;
    height: 10vh; */
    /* float: left; */
    text-align: center;
    line-height: 5vw;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
    /* margin-left: 2%; */
    margin: auto;
    margin-top: 0;
}

/* ========== 表格設定 ========== */
table {
    /* background-color: #1082B2; */
    font-family: 微軟正黑體;
    font-size: 1.5rem;
    text-align: center;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: center;
}

th {
    /* padding: 50px; */
    padding: 3vw;
    color: #1082B2;
    font-size: 2.5rem;
}

td {
    padding: 20px;
    color: #1082B2;
    font-size: 2rem;
}

/* ================================= myinfo ================================= */

#div1 {
    /* border: 2px black solid; */
    /* ========== div大小 ========== */
    border-radius: 50px;
    width: 65vw;
    height: 80vh;
    /* text-align: center; */
    /* line-height: 1vh; */
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
    /* ========== div位置 ========== */
    margin: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

#div1 p {
    font-size: 2rem;
    position: relative;
    left: 5vw;
}

#div1 input {
    font-size: 2rem;
}

#div1 .upnew {
    font-size: 2rem;
    border: 0;
    border-radius: 50px;
    background-color: #1082B2;
    color: #ffffff;
}

/* ================================= OrderInfo ================================= */

#div2 {
    /* border: 2px black solid; */
    /* ========== div大小 ========== */
    border-radius: 50px;
    width: 65vw;
    height: 80vh;
    /* text-align: center; */
    /* line-height: 1vh; */
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
    /* ========== div位置 ========== */
    margin: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

#div2 p {
    position: relative;
    font-size: 2rem;
    left: 5vw;
}

#div2 input {
    font-size: 2rem;
    border: 0;
    border-radius: 50px;
    background-color: #1082B2;
    color: #ffffff;
}



/* ================================= ProManage ================================= */
#div3 {
    /* border: 2px black solid; */
    /* ========== div大小 ========== */
    border-radius: 50px;
    width: 65vw;
    height: 80vh;
    /* text-align: center; */
    /* line-height: 1vh; */
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
    /* ========== div位置 ========== */
    margin: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

#div3 p {
    position: relative;
    left: 5vw;
}

#div3 input {
    font-size: 2rem;
    border: 0;
    border-radius: 50px;
    background-color: #1082B2;
    color: #ffffff;
}

#div3 img {
    width: 100px;
    height: 10%;
}

#div3 .btnup{
    transition: background-color 0.5s, color 0.5s;
    font-size: 2rem;
    border: 0;
    border-radius: 50px;
    background-color: #1082B2;
    color: #ffffff;
    width: 10vw;
    height: 10%;
    margin: auto;
}

#div3 .btnup:hover {
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: #1082B2;
    border: 0;
    border-radius: 50px;
}

/* ================================= 租借請求 ================================= */
#div4 {
    /* border: 2px black solid; */
    /* ========== div大小 ========== */
    border-radius: 50px;
    width: 65vw;
    height: 80vh;
    /* text-align: center; */
    /* line-height: 1vh; */
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
    /* ========== div位置 ========== */
    margin: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

#div4 p {
    position: relative;
    left: 5vw;
}

#div4 input {
    font-size: 2rem;
    border: 0;
    border-radius: 50px;
    background-color: #1082B2;
    color: #ffffff;
}

#div4 img {
    width: 100px;
    height: 10%;
}

#div4 .btnup{
    transition: background-color 0.5s, color 0.5s;
    font-size: 2rem;
    border: 0;
    border-radius: 50px;
    background-color: #1082B2;
    color: #ffffff;
    width: 10vw;
    height: 10%;
    margin: auto;
}

#div4 .btnup:hover {
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: #1082B2;
    border: 0;
    border-radius: 50px;
}

/* ================================ RWD ================================ */

/* =========== myinfo =========== */
/* ========== RWD ========== */
/* 以768px為分界 */
/* @media (min-width: 768px) {
    .sidebar p {
        font-size: 2rem;
    }

    .sidebar {
        line-height: 55px;
    }

    .image {
        width: 150px;
        height: 150px;
    }

    #div1 p {
        font-size: 1.5rem;
    }

    #div1 input {
        font-size: 1.5rem;
    }

    table {
        margin-left: auto;
    }
} */

/* 以991px為分界 */
/* @media (min-width: 991px) {
    .sidebar p {
        font-size: 2.2rem;
    }

    .sidebar {
        line-height: 60px;
    }

    .image {
        width: 200px;
        height: 200px;
    }

    #div1 p {
        font-size: 2rem;
    }

    #div1 input {
        font-size: 2rem;
    }

    tr {
        font-size: 2rem;
    }

} */

/* =========== orderinfo =========== */
/* 以768px為分界 */
/* @media (min-width: 768px) {
    .sidebar p {
        font-size: 2rem;
    }

    .sidebar {
        line-height: 55px;
    }

    .image {
        width: 150px;
        height: 150px;
    }

    #div2 p {
        font-size: 1.5rem;
    }

    #div2 input {
        font-size: 1.5rem;
    }

    th {
        font-size: 1.7rem;
    }

    td {
        font-size: 1.5rem;
    }

} */

/* 以991px為分界 */
/* @media (min-width: 991px) {
    .sidebar p {
        font-size: 2.2rem;
    }

    .sidebar {
        line-height: 60px;
    }

    .image {
        width: 200px;
        height: 200px;
    }

    #div2 p {
        font-size: 2rem;
    }

    #div2 input {
        font-size: 2rem;
    }

    th {
        font-size: 2rem;
    }

    td {
        font-size: 1.7rem;
    }

} */

/* =========== promanage =========== */
/* 以768px為分界 */
/* @media (min-width: 768px) {
    .sidebar p {
        font-size: 2rem;
    }

    .sidebar {
        line-height: 55px;
    }

    .image3 {
        width: 150px;
        height: 150px;
    }

    #div3 p {
        font-size: 1.5rem;
    }

    #div3 input {
        font-size: 1.5rem;
    }

    th {
        font-size: 1.7rem;
    }

    td {
        font-size: 1.5rem;
    }

} */

/* 以991px為分界 */
/* @media (min-width: 991px) {
    .sidebar p {
        font-size: 2.2rem;
    }

    .sidebar {
        line-height: 60px;
    }

    .image3 {
        width: 200px;
        height: 200px;
    }

    #body p {
        font-size: 2rem;
    }

    #body input {
        font-size: 2rem;
    }

    th {
        font-size: 2rem;
    }

    td {
        font-size: 1.7rem;
    }

} */