$font-big: 2.25rem;
$font-normal: 2rem;
$font-small: 1.75rem;
$font-xs: 1.5rem;

$main-color: #0b7597;

#registerout {
    background-color: #0b7597;
    padding: 30px;
}

#register {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    height: 80vh;

    .ant-form {
        // margin-top: 50px;
    }

    .slick-list {
        margin: 30px;
    }

    img {
        height: 650px;
    }

    .ant-form-item-required {
        font-size: $font-small;
    }

}