/* ===================== returnqu ===================== */
h1 {
    text-align: center;
}

.btil {
    display: flex;
    align-items: center;
    line-height: 50px;
}

.quti {
    display: flex;
    /* 分類、類別所能佔據的空間大小 */
    width: 100px;
}

#textInput {
    width: 100%;
    height: 150px;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
    line-height: 5vh;
}

p {
    font-size: 2rem;
}

li {
    font-size: 1.5rem;
}

label {
    font-size: 1.5rem;
}

/* ===================== 下一步 ===================== */
.btnDiv{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.btnWord{
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RadioWord {
    font-size: 1.5rem;
}
